In [1]:
import numpy as np 
import pandas as pd

In [2]:
df = pd.read_json('final_df.json')
df.head(10)

,year,month,source_location,DETECTED CRIME,negative,neutral,positive,total,neg_ratio
0,2019,4,Aberdeen City,138,8,8,0,16,0.5
1,2019,4,Aberdeenshire,77,0,0,1,1,0.0
2,2019,4,Angus,42,0,0,0,0,0.0
3,2019,4,Argyll and Bute,65,0,1,0,1,0.0
4,2019,4,Clackmannanshire,37,0,0,0,0,0.0
5,2019,4,Dumfries and Galloway,107,1,0,0,1,1.0
6,2019,4,Dundee City,112,1,0,0,1,1.0
7,2019,4,East Ayrshire,94,1,0,0,1,1.0
8,2019,4,East Dunbartonshire,30,0,0,0,0,0.0
9,2019,4,East Lothian,39,1,1,0,2,0.5

In [3]:
df['source_location'].unique()

array(['Aberdeen City', 'Aberdeenshire', 'Angus', 'Argyll and Bute',
       'Clackmannanshire', 'Dumfries and Galloway', 'Dundee City',
       'East Ayrshire', 'East Dunbartonshire', 'East Lothian',
       'East Renfrewshire', 'City of Edinburgh', 'Falkirk', 'Fife',
       'Glasgow City', 'Highland', 'Inverclyde', 'Midlothian', 'Moray',
       'North Ayrshire', 'North Lanarkshire', 'Orkney Islands',
       'Perth and Kinross', 'Renfrewshire', 'Scottish Borders',
       'Shetland Islands', 'South Ayrshire', 'South Lanarkshire',
       'Stirling', 'West Dunbartonshire', 'West Lothian',
       'Na h-Eileanan Siar'], dtype=object)

In [4]:
df['source_location'].nunique()

32

In [5]:
city_mapping = {
    'Aberdeen': 'Aberdeen City',
    'Glasgow': 'Glasgow City',
    'Edinburgh': 'City of Edinburgh',
    'Orkney': 'Orkney Islands',
    'Shetland': 'Shetland Islands',
    'Dundee': 'Dundee City',
    'Western Isles - Eilean Siar': 'Na h-Eileanan Siar'
}

df['source_location'] = df['source_location'].replace(city_mapping)

df['source_location'].unique()

array(['Aberdeen City', 'Aberdeenshire', 'Angus', 'Argyll and Bute',
       'Clackmannanshire', 'Dumfries and Galloway', 'Dundee City',
       'East Ayrshire', 'East Dunbartonshire', 'East Lothian',
       'East Renfrewshire', 'City of Edinburgh', 'Falkirk', 'Fife',
       'Glasgow City', 'Highland', 'Inverclyde', 'Midlothian', 'Moray',
       'North Ayrshire', 'North Lanarkshire', 'Orkney Islands',
       'Perth and Kinross', 'Renfrewshire', 'Scottish Borders',
       'Shetland Islands', 'South Ayrshire', 'South Lanarkshire',
       'Stirling', 'West Dunbartonshire', 'West Lothian',
       'Na h-Eileanan Siar'], dtype=object)

In [5]:
df.head()

,year,month,source_location,DETECTED CRIME,negative,neutral,positive,total,neg_ratio
0,2019,4,Aberdeen City,138,8,8,0,16,0.5
1,2019,4,Aberdeenshire,77,0,0,1,1,0.0
2,2019,4,Angus,42,0,0,0,0,0.0
3,2019,4,Argyll and Bute,65,0,1,0,1,0.0
4,2019,4,Clackmannanshire,37,0,0,0,0,0.0

In [6]:
df.head(-10)

,year,month,source_location,DETECTED CRIME,negative,neutral,positive,total,neg_ratio
0,2019,4,Aberdeen City,138,8,8,0,16,0.500000
1,2019,4,Aberdeenshire,77,0,0,1,1,0.000000
2,2019,4,Angus,42,0,0,0,0,0.000000
3,2019,4,Argyll and Bute,65,0,1,0,1,0.000000
4,2019,4,Clackmannanshire,37,0,0,0,0,0.000000
...,...,...,...,...,...,...,...,...,...
2191,2024,12,Midlothian,26,0,0,0,0,0.000000
2192,2024,12,Moray,32,0,0,1,1,0.000000
2193,2024,12,North Ayrshire,92,0,1,0,1,0.000000
2194,2024,12,North Lanarkshire,228,4,3,0,7,0.571429
2195,2024,12,Orkney Islands,5,0,0,1,1,0.000000

In [7]:
import pandas as pd
import numpy as np
from calendar import monthrange

# Example: your original dataframe
# df = pd.DataFrame({
#     'year': [2023, 2023],
#     'month': [1, 1],
#     'source_location': ['A', 'B'],
#     'detected_crime': [93, 120]
# })

# Create an empty list to store the rows of the new dataframe
rows = []

# Iterate through each row in the original df
for _, row in df.iterrows():
    year = row['year']
    month = row['month']
    source = row['source_location']
    total_crime = row['DETECTED CRIME']
    
    # Get number of days in the month
    num_days = monthrange(year, month)[1]
    
    # Random distribution base: start with equal distribution
    base = total_crime // num_days
    crimes = [base] * num_days

    # Distribute the remainder randomly with small adjustments
    remainder = total_crime - sum(crimes)
    for _ in range(remainder):
        index = np.random.randint(0, num_days)
        crimes[index] += 1

    # Optionally, add small noise to the base (not affecting sum)
    noise = np.random.randint(-1, 2, size=num_days)
    crimes = np.array(crimes) + noise

    # Ensure no value goes below 0
    crimes = np.maximum(crimes, 0)

    # Calculate the difference after noise
    total_after_noise = crimes.sum()
    diff = total_crime - total_after_noise

    # If there is a difference, adjust to balance the total
    if diff != 0:
        adjust_indices = np.random.choice(num_days, abs(diff), replace=True)
        for idx in adjust_indices:
            crimes[idx] += 1 if diff > 0 else -1

    # Ensure no value goes below 0 after adjustment
    crimes = np.maximum(crimes, 0)

    # Recalculate the total after adjustment to ensure it equals the original total
    total_after_adjustment = crimes.sum()

    # If the sum is still not equal to total_crime, adjust the last crime entry
    if total_after_adjustment != total_crime:
        diff = total_crime - total_after_adjustment
        crimes[-1] += diff

    # Append to rows
    for day, daily_crime in enumerate(crimes, 1):
        rows.append({
            'year': year,
            'month': month,
            'day': day,
            'source_location': source,
            'DETECTED CRIME': daily_crime
        })

# Create the new dataframe
ndf = pd.DataFrame(rows)

In [8]:
ndf.shape

(67203, 5)

In [9]:
ndf.head(40)

    year  month  day source_location  DETECTED CRIME
0   2019      4    1   Aberdeen City               4
1   2019      4    2   Aberdeen City               3
2   2019      4    3   Aberdeen City               4
3   2019      4    4   Aberdeen City               5
4   2019      4    5   Aberdeen City               5
5   2019      4    6   Aberdeen City               3
6   2019      4    7   Aberdeen City               4
7   2019      4    8   Aberdeen City               4
8   2019      4    9   Aberdeen City               5
9   2019      4   10   Aberdeen City               3
10  2019      4   11   Aberdeen City               5
11  2019      4   12   Aberdeen City               5
12  2019      4   13   Aberdeen City               7
13  2019      4   14   Aberdeen City               4
14  2019      4   15   Aberdeen City               7
15  2019      4   16   Aberdeen City               3
16  2019      4   17   Aberdeen City               3
17  2019      4   18   Aberdeen City               3
18  2019      4   19   Aberdeen City               7
19  2019      4   20   Aberdeen City               3
20  2019      4   21   Aberdeen City               5
21  2019      4   22   Aberdeen City               3
22  2019      4   23   Aberdeen City               6
23  2019      4   24   Aberdeen City               5
24  2019      4   25   Aberdeen City               5
25  2019      4   26   Aberdeen City               6
26  2019      4   27   Aberdeen City               5
27  2019      4   28   Aberdeen City               5
28  2019      4   29   Aberdeen City               5
29  2019      4   30   Aberdeen City               6
30  2019      4    1   Aberdeenshire               3
31  2019      4    2   Aberdeenshire               3
32  2019      4    3   Aberdeenshire               3
33  2019      4    4   Aberdeenshire               3
34  2019      4    5   Aberdeenshire               3
35  2019      4    6   Aberdeenshire               2
36  2019      4    7   Aberdeenshire               3
37  2019      4    8   Aberdeenshire               2
38  2019      4    9   Aberdeenshire               3
39  2019      4   10   Aberdeenshire               2

In [10]:
json_output = ndf.to_json(orient='records')
with open('daywise_crime.json', 'w') as f:
    f.write(json_output)