In [1]:
import numpy as np 
import pandas as pd

In [2]:
df = pd.read_csv('sparse_df.csv')
df.head(10)

,year,month,source_location,DETECTED CRIME,negative,neutral,positive,total,neg_ratio
0,2019,4,Aberdeen,138,NaN,NaN,NaN,NaN,NaN
1,2019,4,Aberdeenshire,77,NaN,NaN,NaN,NaN,NaN
2,2019,4,Angus,42,NaN,NaN,NaN,NaN,NaN
3,2019,4,Argyll and Bute,65,NaN,NaN,NaN,NaN,NaN
4,2019,4,Clackmannanshire,37,NaN,NaN,NaN,NaN,NaN
5,2019,4,Dumfries and Galloway,107,NaN,NaN,NaN,NaN,NaN
6,2019,4,Dundee,112,NaN,NaN,NaN,NaN,NaN
7,2019,4,East Ayrshire,94,NaN,NaN,NaN,NaN,NaN
8,2019,4,East Dunbartonshire,30,NaN,NaN,NaN,NaN,NaN
9,2019,4,East Lothian,39,NaN,NaN,NaN,NaN,NaN

In [3]:
df['source_location'].unique()

array(['Aberdeen', 'Aberdeenshire', 'Angus', 'Argyll and Bute',
       'Clackmannanshire', 'Dumfries and Galloway', 'Dundee',
       'East Ayrshire', 'East Dunbartonshire', 'East Lothian',
       'East Renfrewshire', 'Edinburgh', 'Falkirk', 'Fife', 'Glasgow',
       'Highland', 'Inverclyde', 'Midlothian', 'Moray', 'North Ayrshire',
       'North Lanarkshire', 'Orkney', 'Perth and Kinross', 'Renfrewshire',
       'Scottish Borders', 'Shetland', 'South Ayrshire',
       'South Lanarkshire', 'Stirling', 'West Dunbartonshire',
       'West Lothian', 'Western Isles - Eilean Siar'], dtype=object)

In [4]:
df['source_location'].nunique()

32

In [5]:
city_mapping = {
    'Aberdeen': 'Aberdeen City',
    'Glasgow': 'Glasgow City',
    'Edinburgh': 'City of Edinburgh',
    'Orkney': 'Orkney Islands',
    'Shetland': 'Shetland Islands',
    'Dundee': 'Dundee City',
    'Western Isles - Eilean Siar': 'Na h-Eileanan Siar'
}

df['source_location'] = df['source_location'].replace(city_mapping)

df['source_location'].unique()

array(['Aberdeen City', 'Aberdeenshire', 'Angus', 'Argyll and Bute',
       'Clackmannanshire', 'Dumfries and Galloway', 'Dundee City',
       'East Ayrshire', 'East Dunbartonshire', 'East Lothian',
       'East Renfrewshire', 'City of Edinburgh', 'Falkirk', 'Fife',
       'Glasgow City', 'Highland', 'Inverclyde', 'Midlothian', 'Moray',
       'North Ayrshire', 'North Lanarkshire', 'Orkney Islands',
       'Perth and Kinross', 'Renfrewshire', 'Scottish Borders',
       'Shetland Islands', 'South Ayrshire', 'South Lanarkshire',
       'Stirling', 'West Dunbartonshire', 'West Lothian',
       'Na h-Eileanan Siar'], dtype=object)

In [6]:
df['source_location'].nunique()

32

In [7]:
df.head()

,year,month,source_location,DETECTED CRIME,negative,neutral,positive,total,neg_ratio
0,2019,4,Aberdeen City,138,NaN,NaN,NaN,NaN,NaN
1,2019,4,Aberdeenshire,77,NaN,NaN,NaN,NaN,NaN
2,2019,4,Angus,42,NaN,NaN,NaN,NaN,NaN
3,2019,4,Argyll and Bute,65,NaN,NaN,NaN,NaN,NaN
4,2019,4,Clackmannanshire,37,NaN,NaN,NaN,NaN,NaN

In [8]:
df.head(-10)

,year,month,source_location,DETECTED CRIME,negative,neutral,positive,total,neg_ratio
0,2019,4,Aberdeen City,138,NaN,NaN,NaN,NaN,NaN
1,2019,4,Aberdeenshire,77,NaN,NaN,NaN,NaN,NaN
2,2019,4,Angus,42,NaN,NaN,NaN,NaN,NaN
3,2019,4,Argyll and Bute,65,NaN,NaN,NaN,NaN,NaN
4,2019,4,Clackmannanshire,37,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
2191,2024,12,Midlothian,26,NaN,NaN,NaN,NaN,NaN
2192,2024,12,Moray,32,NaN,NaN,NaN,NaN,NaN
2193,2024,12,North Ayrshire,92,3.0,1.0,0.0,4.0,0.75
2194,2024,12,North Lanarkshire,228,1.0,1.0,0.0,2.0,0.50
2195,2024,12,Orkney Islands,5,NaN,NaN,NaN,NaN,NaN

In [9]:
df.to_csv('final_df.csv', index=False)

In [2]:
fd = pd.read_csv('final_df.csv')
fd.head(10)

,year,month,source_location,DETECTED CRIME,negative,neutral,positive,total,neg_ratio
0,2019,4,Aberdeen City,138,NaN,NaN,NaN,NaN,NaN
1,2019,4,Aberdeenshire,77,NaN,NaN,NaN,NaN,NaN
2,2019,4,Angus,42,NaN,NaN,NaN,NaN,NaN
3,2019,4,Argyll and Bute,65,NaN,NaN,NaN,NaN,NaN
4,2019,4,Clackmannanshire,37,NaN,NaN,NaN,NaN,NaN
5,2019,4,Dumfries and Galloway,107,NaN,NaN,NaN,NaN,NaN
6,2019,4,Dundee City,112,NaN,NaN,NaN,NaN,NaN
7,2019,4,East Ayrshire,94,NaN,NaN,NaN,NaN,NaN
8,2019,4,East Dunbartonshire,30,NaN,NaN,NaN,NaN,NaN
9,2019,4,East Lothian,39,NaN,NaN,NaN,NaN,NaN

In [3]:
fd['source_location'].unique()

array(['Aberdeen City', 'Aberdeenshire', 'Angus', 'Argyll and Bute',
       'Clackmannanshire', 'Dumfries and Galloway', 'Dundee City',
       'East Ayrshire', 'East Dunbartonshire', 'East Lothian',
       'East Renfrewshire', 'City of Edinburgh', 'Falkirk', 'Fife',
       'Glasgow City', 'Highland', 'Inverclyde', 'Midlothian', 'Moray',
       'North Ayrshire', 'North Lanarkshire', 'Orkney Islands',
       'Perth and Kinross', 'Renfrewshire', 'Scottish Borders',
       'Shetland Islands', 'South Ayrshire', 'South Lanarkshire',
       'Stirling', 'West Dunbartonshire', 'West Lothian',
       'Na h-Eileanan Siar'], dtype=object)

In [4]:
fd['DETECTED CRIME'].max()

773

In [5]:
import pandas as pd

# Load the JSON file
df = pd.read_json("final_df.json")

# Convert 'neg_ratio' to numeric, coercing errors to NaN (for missing/invalid values)
df['neg_ratio'] = pd.to_numeric(df['neg_ratio'], errors='coerce')

# Optional: inspect the conversion
df['neg_ratio'].head()

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: neg_ratio, dtype: float64

In [6]:
df.to_json("final_df_cleaned.json", orient='records', lines=False)

In [2]:
df = pd.read_csv('sparse_df2.csv')
df.head(10)

,year,month,authorLocation,index,DETECTED CRIME,negative,neutral,positive,total,neg_ratio
0,2019,4,Aberdeen,0,138,8.0,8.0,0.0,16.0,0.5
1,2019,4,Aberdeenshire,1,77,0.0,0.0,1.0,1.0,0.0
2,2019,4,Angus,2,42,0.0,0.0,0.0,0.0,0.0
3,2019,4,Argyll and Bute,3,65,0.0,1.0,0.0,1.0,0.0
4,2019,4,Clackmannanshire,4,37,0.0,0.0,0.0,0.0,0.0
5,2019,4,Dumfries and Galloway,5,107,1.0,0.0,0.0,1.0,1.0
6,2019,4,Dundee,6,112,1.0,0.0,0.0,1.0,1.0
7,2019,4,East Ayrshire,7,94,1.0,0.0,0.0,1.0,1.0
8,2019,4,East Dunbartonshire,8,30,0.0,0.0,0.0,0.0,0.0
9,2019,4,East Lothian,9,39,1.0,1.0,0.0,2.0,0.5

In [3]:
df.head(50)

,year,month,authorLocation,index,DETECTED CRIME,negative,neutral,positive,total,neg_ratio
0,2019,4,Aberdeen,0,138,8.0,8.0,0.0,16.0,0.500000
1,2019,4,Aberdeenshire,1,77,0.0,0.0,1.0,1.0,0.000000
2,2019,4,Angus,2,42,0.0,0.0,0.0,0.0,0.000000
3,2019,4,Argyll and Bute,3,65,0.0,1.0,0.0,1.0,0.000000
4,2019,4,Clackmannanshire,4,37,0.0,0.0,0.0,0.0,0.000000
5,2019,4,Dumfries and Galloway,5,107,1.0,0.0,0.0,1.0,1.000000
6,2019,4,Dundee,6,112,1.0,0.0,0.0,1.0,1.000000
7,2019,4,East Ayrshire,7,94,1.0,0.0,0.0,1.0,1.000000
8,2019,4,East Dunbartonshire,8,30,0.0,0.0,0.0,0.0,0.000000
9,2019,4,East Lothian,9,39,1.0,1.0,0.0,2.0,0.500000
10,2019,4,East Renfrewshire,10,23,1.0,0.0,0.0,1.0,1.000000
11,2019,4,Edinburgh,11,269,5.0,6.0,0.0,11.0,0.454545
12,2019,4,Falkirk,12,156,0.0,0.0,0.0,0.0,0.000000
13,2019,4,Fife,13,219,1.0,2.0,0.0,3.0,0.333333
14,2019,4,Glasgow,14,512,14.0,5.0,3.0,22.0,0.636364
15,2019,4,Highland,15,115,2.0,2.0,1.0,5.0,0.400000
16,2019,4,Inverclyde,16,48,1.0,0.0,0.0,1.0,1.000000
17,2019,4,Midlothian,17,53,2.0,2.0,0.0,4.0,0.500000
18,2019,4,Moray,18,44,0.0,0.0,0.0,0.0,0.000000
19,2019,4,North Ayrshire,19,98,1.0,0.0,0.0,1.0,1.000000
20,2019,4,North Lanarkshire,20,324,2.0,1.0,0.0,3.0,0.666667
21,2019,4,Orkney,21,8,0.0,0.0,0.0,0.0,0.000000
22,2019,4,Perth and Kinross,22,45,0.0,1.0,0.0,1.0,0.000000
23,2019,4,Renfrewshire,23,103,0.0,1.0,0.0,1.0,0.000000
24,2019,4,Scottish Borders,24,66,0.0,2.0,1.0,3.0,0.000000
25,2019,4,Shetland,25,5,0.0,0.0,0.0,0.0,0.000000
26,2019,4,South Ayrshire,26,83,0.0,0.0,0.0,0.0,0.000000
27,2019,4,South Lanarkshire,27,248,2.0,1.0,0.0,3.0,0.666667
28,2019,4,Stirling,28,70,0.0,0.0,0.0,0.0,0.000000
29,2019,4,West Dunbartonshire,29,83,0.0,0.0,0.0,0.0,0.000000
30,2019,4,West Lothian,30,78,0.0,0.0,0.0,0.0,0.000000
31,2019,4,Western Isles - Eilean Siar,31,7,0.0,0.0,0.0,0.0,0.000000
32,2019,5,Aberdeen,32,102,0.0,0.0,0.0,0.0,0.000000
33,2019,5,Aberdeenshire,33,63,0.0,0.0,0.0,0.0,0.000000
34,2019,5,Angus,34,40,0.0,0.0,0.0,0.0,0.000000
35,2019,5,Argyll and Bute,35,60,0.0,0.0,0.0,0.0,0.000000
36,2019,5,Clackmannanshire,36,43,0.0,0.0,0.0,0.0,0.000000
37,2019,5,Dumfries and Galloway,37,146,0.0,0.0,0.0,0.0,0.000000
38,2019,5,Dundee,38,106,0.0,0.0,0.0,0.0,0.000000
39,2019,5,East Ayrshire,39,74,1.0,0.0,1.0,2.0,0.500000
40,2019,5,East Dunbartonshire,40,47,0.0,0.0,0.0,0.0,0.000000
41,2019,5,East Lothian,41,35,0.0,0.0,0.0,0.0,0.000000
42,2019,5,East Renfrewshire,42,21,0.0,0.0,0.0,0.0,0.000000
43,2019,5,Edinburgh,43,285,0.0,1.0,0.0,1.0,0.000000
44,2019,5,Falkirk,44,100,1.0,3.0,0.0,4.0,0.250000
45,2019,5,Fife,45,285,1.0,1.0,0.0,2.0,0.500000
46,2019,5,Glasgow,46,578,3.0,4.0,1.0,8.0,0.375000
47,2019,5,Highland,47,127,0.0,1.0,0.0,1.0,0.000000
48,2019,5,Inverclyde,48,48,0.0,0.0,0.0,0.0,0.000000
49,2019,5,Midlothian,49,78,0.0,0.0,0.0,0.0,0.000000

In [4]:
df.shape

(2206, 10)

In [7]:
df = df.drop('index', axis=1)
df.head(10)

,year,month,authorLocation,DETECTED CRIME,negative,neutral,positive,total,neg_ratio
0,2019,4,Aberdeen,138,8.0,8.0,0.0,16.0,0.5
1,2019,4,Aberdeenshire,77,0.0,0.0,1.0,1.0,0.0
2,2019,4,Angus,42,0.0,0.0,0.0,0.0,0.0
3,2019,4,Argyll and Bute,65,0.0,1.0,0.0,1.0,0.0
4,2019,4,Clackmannanshire,37,0.0,0.0,0.0,0.0,0.0
5,2019,4,Dumfries and Galloway,107,1.0,0.0,0.0,1.0,1.0
6,2019,4,Dundee,112,1.0,0.0,0.0,1.0,1.0
7,2019,4,East Ayrshire,94,1.0,0.0,0.0,1.0,1.0
8,2019,4,East Dunbartonshire,30,0.0,0.0,0.0,0.0,0.0
9,2019,4,East Lothian,39,1.0,1.0,0.0,2.0,0.5

In [8]:
df.rename(columns={'authorLocation': 'source_location'}, inplace=True)
df.head(10)

,year,month,source_location,DETECTED CRIME,negative,neutral,positive,total,neg_ratio
0,2019,4,Aberdeen,138,8.0,8.0,0.0,16.0,0.5
1,2019,4,Aberdeenshire,77,0.0,0.0,1.0,1.0,0.0
2,2019,4,Angus,42,0.0,0.0,0.0,0.0,0.0
3,2019,4,Argyll and Bute,65,0.0,1.0,0.0,1.0,0.0
4,2019,4,Clackmannanshire,37,0.0,0.0,0.0,0.0,0.0
5,2019,4,Dumfries and Galloway,107,1.0,0.0,0.0,1.0,1.0
6,2019,4,Dundee,112,1.0,0.0,0.0,1.0,1.0
7,2019,4,East Ayrshire,94,1.0,0.0,0.0,1.0,1.0
8,2019,4,East Dunbartonshire,30,0.0,0.0,0.0,0.0,0.0
9,2019,4,East Lothian,39,1.0,1.0,0.0,2.0,0.5

In [9]:
df['source_location'].unique()

array(['Aberdeen', 'Aberdeenshire', 'Angus', 'Argyll and Bute',
       'Clackmannanshire', 'Dumfries and Galloway', 'Dundee',
       'East Ayrshire', 'East Dunbartonshire', 'East Lothian',
       'East Renfrewshire', 'Edinburgh', 'Falkirk', 'Fife', 'Glasgow',
       'Highland', 'Inverclyde', 'Midlothian', 'Moray', 'North Ayrshire',
       'North Lanarkshire', 'Orkney', 'Perth and Kinross', 'Renfrewshire',
       'Scottish Borders', 'Shetland', 'South Ayrshire',
       'South Lanarkshire', 'Stirling', 'West Dunbartonshire',
       'West Lothian', 'Western Isles - Eilean Siar'], dtype=object)

In [10]:
df['source_location'].nunique()

32

In [11]:
city_mapping = {
    'Aberdeen': 'Aberdeen City',
    'Glasgow': 'Glasgow City',
    'Edinburgh': 'City of Edinburgh',
    'Orkney': 'Orkney Islands',
    'Shetland': 'Shetland Islands',
    'Dundee': 'Dundee City',
    'Western Isles - Eilean Siar': 'Na h-Eileanan Siar'
}

df['source_location'] = df['source_location'].replace(city_mapping)

df['source_location'].unique()

array(['Aberdeen City', 'Aberdeenshire', 'Angus', 'Argyll and Bute',
       'Clackmannanshire', 'Dumfries and Galloway', 'Dundee City',
       'East Ayrshire', 'East Dunbartonshire', 'East Lothian',
       'East Renfrewshire', 'City of Edinburgh', 'Falkirk', 'Fife',
       'Glasgow City', 'Highland', 'Inverclyde', 'Midlothian', 'Moray',
       'North Ayrshire', 'North Lanarkshire', 'Orkney Islands',
       'Perth and Kinross', 'Renfrewshire', 'Scottish Borders',
       'Shetland Islands', 'South Ayrshire', 'South Lanarkshire',
       'Stirling', 'West Dunbartonshire', 'West Lothian',
       'Na h-Eileanan Siar'], dtype=object)

In [16]:
df['neg_ratio'].max()

1.0

In [17]:
df.to_json("final_df_cleaned.json", orient='records', lines=False)